body {
  //background-image:url('body_background.jpg');
  //background: url('body_background.jpg') gray repeat;
  background-color: #808284;
  color: #808284;
  font-family: century gothic, verdana, arial, helvetica, sans-serif;
  padding: 0;
  margin: 0;
  }
    
#wrapper {
  margin: 0 auto;
  width: 900px;
  }

#nav_01 {
  margin: 0;
  padding: 0;
  height: 55px;
  background: white; 
  #nav_wrap {
    margin: 0 auto;
    padding: 0;
    width: 900px;
  }
  ul {
   list-style: none outside none;
   display: inline; 
  }
  li {
    display: inline;
    padding: 10px;
  }
  #logo {
    margin: 5px 0 0 0;
  }
}

#splash_banner {
  width: 900px;
  height: 250px;
  margin: 10px auto 0 auto;
  background: #9DD8D5 url('splash_banner.png') no-repeat;
}

.splash_col_1 {
  width: 293px;
  margin: 10px 11px 0 0;
  float: left;
  background-color: white;
}
.splash_col_2 {
  width: 292px;
  margin: 10px 0 0 0;
  float: left;
  background-color: white;
}
.splash_col_3 {
  width: 293px;
  margin: 10px 0 0 11px;
  float: left;
  background-color: white;
}
 
.rounded_corners {
  -moz-border-radius: 15px;
  border-radius: 15px;
  -moz-box-shadow: 2px 2px 2px 	#707070 ;
  -webkit-box-shadow: 2px 2px 2px 	#707070 ;
  box-shadow: 2px 2px 2px 	#707070 ;  
  }
  
h1 {
  margin: 0;
  padding: 2px;
  font-size: 125%;
}

p {
  color: #404041;
  font-size: 85%;
  padding: 5px;
  margin: 0;
  
}

a {
  color: #808284;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #9DD8D5;  
}

.clear {
  clear: both;
}

.center {
  text-align: center;
}

.float_right {
  float: right;
}
